.user_details {
}

.user_info_table{
    border: 2px solid red; 
    background-color:darkseagreen;
    padding: 5%;
}

.chatbox{
    background-color: white;
    position: fixed;
    right:0%;
    bottom: 0%;
    height:400px;
    width:350px;
    border: 2px solid tomato;
    z-index: 10;
}

.chat_window{
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: pink;
    height:90%;
    width:100%;
    z-index: 10;
}

.chat_message{
    background-color: aquamarine;
    border-radius: 20%;
    display: inline;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: -2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-self: end;
}

.chat_text_box{
    margin: 1%;
    height: 8%;
    width: 75%;
    border: 2px solid black;
}
.chat_send_button{
    height:8%;
    width:20%;
    background-color:greenyellow;
    color:black;
    border: 5px solid black;
}

