body {
    background-color: black;
}

h1,p{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align:center;
}
.laptop_layout{
    height:570px;
    width:902px;
    left:25%;
    /* border:3px grey; */
    border-style:solid;
    border-radius: 30px;
    box-shadow: 0px 0px 12px grey inset;
}

.desktop_image{
    position:relative;
    left:17px;
    top:10px;
    height:483px;
    width:871px;
    background-image: url("./images/windows.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid grey;
    display:inline-block;
}

.empty_container{
    height:30px;
    width:75px;
    /* border:2px solid grey; */
    display:inline-block;
    box-shadow: 0px 0px 17px grey inset;
}


.flex_container{
    display:flex;
    /* float:left; */
}
.keys{
    /* border:1px solid red; */
    color:white;
    line-height:32px;
    text-align: center;
    width:35px;
    margin:4px;
    font-size: 10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px red inset;
    /* box-sizing: border-box; */
}

.keys.other_keys{
    font-size: 9px;
}
.flex_container > .numbers{
    line-height: 16px;
    height:32px;
    width:37px;
}

.flex_container > .quotations{
    line-height: 16px;
    height:32px;
    width:43px;
}
.flex_container > .function_keys{
    line-height: 13px;
    text-align:left;
    height:26px;
    width:28px;
    padding:3px;

}


.grid_container{
    display:grid;
}

.icon{
    position:relative;
    height:12px;
    width:15px;
    left:12px;
}

.num_lock_key{
    line-height: 6px;
}

.num_lock_key_icon{
    position:relative;
    height:10px;
    width:10px;
    left: 1px;
}
.other_keys > .icon{
    left:0px;
    top:10px;
}


.power_button{
    position:absolute;
    height:33px;
    width:33px;
    left:825px;
    top:46px;
    border-radius:30px;
    box-shadow: 0px 0px 7px whitesmoke;
}

.power_button::after{
    content: "";
    position:relative;
    border:2px solid white;
    left:14px;
    top:2px;
    font-size: 14px;
}

.webcam{
    position:relative;
    display:block;
    height:25px;
    width:25px;
    top:6px;
    left:465px;
}

.display_layout{
    position:absolute;
    top:50px;
}
.keyboard_layout{
    position:absolute;
    top:622px;
}
.keyboard{
    position:absolute;
    height:300px;
    width:850px;
    top:100px;
    left:25px;
    /* border: 1px solid white; */
}
.keyboard_flex{
    float:left;
}
.keyboard_grid{
    float:right;
}
.mouse_pad{
    position:absolute;
    height:152px;
    width:260px;
    left:226px;
    top:389px;
    border:1px solid #716e6e;
    background-color:#313030;
    border-radius: 7px;
}

.mouse_pad_vertical_line{
    position:absolute;
    height:30px;
    width:1px;
    left:133px;
    top:115px;
    background-color: #716e6e;
}

.sticker{
    position:absolute;
    height:46px;
    width:40px;
    left:800px;
    top:462px;
}

.latitude_label{
    position: absolute;
    left:6px;
    top:250px;
    color: #9E9E9E;
    font-size: 14px;
}